

* {
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

header {
    text-align: center;
    font-size: 36px;
    
}

#numberComp, #myNumber {
    background: white;
    border: 3px solid black;
    width: 33%;
    margin: 40px;
    text-align: center;

}    

div[id*="crystal"] {



background: white;

width: 20%;

height: 100px;

margin: 10px;

padding: 10px;

color: white;

margin: 40px;

}

div[id*="crystal"]:hover {
    /*background: yellow;*/
    /*border: solid 5px yellow;*/
    box-shadow: 5px 10px green;
}

#img2 {
    width: 80%;
}

.container {

    width: 100%;
    
    display: flex;

    justify-content: center;

    /*margin: auto;*/
}

#gamestate {
    width: 33%;

    margin: 4px;

    background: red;
}

#wins, #losses {
    width: 10%;
    margin: 10px;
    padding: 5px;
}

img {
    width: 120px;
}
